.cardProduct{
    margin-bottom: 30px;
}
.product_area{
    margin-top: 50px;
}
.product-bar{
    margin-top: 50px;
}
.label-full-width{
    width: 100%;
}
.teamArea{
    margin-top: 30px;
}
.team-area-title{
    margin-bottom: 30px;
}